<h3>Test Application</h3>
<hr/>
<input type="button" value="Odd / Even" (click)="toggleSelection()" />
<br/>
<div *ngIf="isOdd">
  <ul>
    <li *ngFor="let number of oddNumbers"
        [ngClass]="{odd : number % 2 == 1}"
        [ngStyle]="{backgroundColor: 'green'}"
    >{{ number }}</li>
  </ul>
</div>
<div *ngIf="!isOdd">
  <ul>
    <li *ngFor="let number of evenNumbers"
        [ngClass]="{even : number % 2 == 0}"
        [ngStyle]="{backgroundColor: 'red'}"
    >{{ number }}</li>
  </ul>
</div>
